.blob-code aside {
    display: none;
}

.blob-code:hover aside {
    display: block;
    position: absolute;
    top: -50px;
    right: 0px;
    z-index: 99999999999999;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.1);
}
