.blob-code aside {
    display: block;
    visibility: hidden;
    position: fixed;
    top: 10px;
    width: 500px;
    left: calc(50% - 250px);
    z-index: 99999999999999;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 2px 10px 10px #777;
}

.blob-code:hover aside {
    visibility: visible;
    opacity: 1;;
}
