.blob-code .blame-pr {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    z-index: 99999999999999;
    background: white;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 1px;
}

.blob-code:hover .blame-pr {
    display: block;
}

.blame-pr-content {
    display: none;
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}

.blame-pr:hover + .blame-pr-content {
    display: block;
}
